:root {
    --primary_color: #7FFFD4;
    --secondary_color: #FFAFC5;
    --accent1_color: #373F51;
    --accent2_color: #53A2BE;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .neuton-regular {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.neuton-regular-italic {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
  }
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
   */


html, body {
    height: 100%;
    margin: 0;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: var(--accent1_color);
}

header {
    text-align: center;
    background-color: var(--primary_color);
    width: 100%;
    padding: 10px;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.az-animal img{
    width: 100vw;
    height: auto;
    display: block;
}

table{
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 10px auto;
    background-color: var(--secondary_color);
    box-shadow: 0px 4px 6px rgba( 0, 0, 0, 1);
    border-radius: 10px;
}

th {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

td {
    padding: 5px;
    text-align: right;
}

.info {
    text-align: left;
}

footer{
    background-color: var(--primary_color);
    text-align: center;
    width: 100%;
    padding: 10px;
}

@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;
        gap: 20px;
        align-items: start;
        background-image: url('../images/ringtail-medium.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .az-animal img {
        display: none;
    }

    table {
        width: auto;
    }

    th {
        text-align: left;
        background-color: var(--accent1_color);
        border-radius: 10px;
        color: white;
    }
    
    th img {
        display: none;
    }

    .weather-pic:first-of-type::after {
        content: " ⛅";
        font-size: 1.5rem;
        margin-left: 10px;
    }
    
    table:first-of-type {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 10px;
        align-self: start;
    }

    table:last-of-type {
        grid-column: 3 / 3;
        grid-row: 2 / 3;
        margin-right: 10px;
        align-self: end;
        justify-self: end;
    }
}

@media (min-width: 1500px) {
    main {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto 1fr auto;
        background-image: url('../images/ringtail-large.webp');
    }

    table:first-of-type {
        grid-column: 1 / 2;
    }

    table:last-of-type {
        grid-column: 3 / 4;
    }
}